Prog/PHP/ci_ion/application/input_xml/inscriptionXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="personnes"/>
<xs:complexType name="nouvelleType">
	<xs:sequence>
		<xs:element type="xs:string" name="pseudo"/>
		<xs:element type="xs:string" name="nom"/>
		<xs:element type="xs:string" name="prenom"/>
		<xs:element type="xs:string" name="email"/>
		<xs:element type="xs:string" name="password"/>
		<xs:element type="xs:string" name="date_naissance"/>
		<xs:element type="xs:string" name="telephone"/>
		<xs:element type="xs:string" name="description"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="newsType">
	<xs:sequence>
		<xs:element type="nouvelleType" name="personne" maxOccurs="unbounded" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
</xs:schema>
