Prog/PHP/ci_ion/application/input_xml/newsXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="nouvelles" type="newsType"/>
<xs:complexType name="nouvelleType">
	<xs:sequence>
		<xs:element type="xs:string" name="title"/>
		<xs:element type="xs:string" name="texte"/>

	</xs:sequence>

</xs:complexType>
<xs:complexType name="newsType">
	<xs:sequence>
		<xs:element type="nouvelleType" name="nouvelle" maxOccurs="unbounded" minOccurs="0"/>
	</xs:sequence>
</xs:complexType>
</xs:schema>
